In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from bs4 import BeautifulSoup 
import requests

# Realizamos Web Scrappin de wikipedia para obtener un estimado de valores de poblacion en 2021, que es el último año de nuestra base de datos original

In [3]:

direc_scrappin='https://es.wikipedia.org/wiki/Anexo:Comunas_de_la_ciudad_de_Buenos_Aires_por_poblaci%C3%B3n'
request=requests.get(direc_scrappin)
soup=BeautifulSoup(request.text, 'html.parser')
paginas=pd.read_html(direc_scrappin)
paginas[0]

   Evolución demográfica e histórica de los habitantes de las Comunas de la Ciudad Autónoma de Buenos Aires (CABA)[1]​  \
                                                                                                         Puesto (2022)
0                                                  1°
1                                                  2°
2                                                  3°
3                                                  4°
4                                                  5°
5                                                  6°
6                                                  7°
7                                                  8°
8                                                  9°
9                                                 10°
10                                                11°
11                                                12°
12                                                13°
13                                                14°
14                                                15°
15                                              TOTAL

                                                           \
       Comuna CENSO 1991 CENSO 2001 CENSO 2010 CENSO 2022
0   Comuna 13    250 224    228 226    231 331    265 199
1   Comuna 14    256 927    225 245    225 970    249 016
2   Comuna 12    198 185    191 122    200 116    236 294
3    Comuna 4    215 223    215 046    218 245    230 945
4    Comuna 1    200 689    171 985    205 886    223 282
5    Comuna 7    198 489    197 333    220 591    216 832
6    Comuna 8    151 078    161 642    187 237    204 842
7    Comuna 6    183 740    170 309    176 076    203 784
8   Comuna 11    199 049    189 666    189 832    203 491
9   Comuna 15    195 346    183 110    182 574    197 903
10   Comuna 3    200 275    184 015    187 537    195 462
11   Comuna 5    188 342    173 769    179 005    193 859
12  Comuna 10    167 671    163 209    166 022    171 797
13   Comuna 9    161 518    155 967    161 797    169 538
14   Comuna 2    198 647    165 494    157 932    158 368
15       CABA  2 965 403  2 776 138  2 890 151  3 120 612


   Crecimiento 2010-2022 Unnamed: 7_level_1
0              + 14,64 %                NaN
1              + 10,19 %                NaN
2              + 18,07 %                NaN
3               + 5,81 %                NaN
4               + 8,44 %                NaN
5               - 1,70 %                NaN
6               + 9,40 %                NaN
7              + 15,73 %                NaN
8               + 7,19 %                NaN
9               + 8,39 %                NaN
10              + 4,22 %                NaN
11              + 8,29 %                NaN
12              + 3,47 %                NaN
13              + 4,78 %                NaN
14              + 0,27 %                NaN
15              + 7,97 %                NaN

# Guardamos la página que nos sirve de el web scrapping como dataframe para utilizar luego en nuestro KPI solicitado

In [4]:
paginas[0].to_csv("dataset_poblacion.csv", index=False)

## abrimos el dataset

In [5]:
df = pd.read_csv('dataset_poblacion.csv')

In [6]:
df

,Evolución demográfica e histórica de los habitantes de las Comunas de la Ciudad Autónoma de Buenos Aires (CABA)[1]​,Evolución demográfica e histórica de los habitantes de las Comunas de la Ciudad Autónoma de Buenos Aires (CABA)[1]​.1,Evolución demográfica e histórica de los habitantes de las Comunas de la Ciudad Autónoma de Buenos Aires (CABA)[1]​.2,Evolución demográfica e histórica de los habitantes de las Comunas de la Ciudad Autónoma de Buenos Aires (CABA)[1]​.3,Evolución demográfica e histórica de los habitantes de las Comunas de la Ciudad Autónoma de Buenos Aires (CABA)[1]​.4,Evolución demográfica e histórica de los habitantes de las Comunas de la Ciudad Autónoma de Buenos Aires (CABA)[1]​.5,Evolución demográfica e histórica de los habitantes de las Comunas de la Ciudad Autónoma de Buenos Aires (CABA)[1]​.6,Evolución demográfica e histórica de los habitantes de las Comunas de la Ciudad Autónoma de Buenos Aires (CABA)[1]​.7
0,Puesto (2022),Comuna,CENSO 1991,CENSO 2001,CENSO 2010,CENSO 2022,Crecimiento 2010-2022,Unnamed: 7_level_1
1,1°,Comuna 13,250 224,228 226,231 331,265 199,"+ 14,64 %",NaN
2,2°,Comuna 14,256 927,225 245,225 970,249 016,"+ 10,19 %",NaN
3,3°,Comuna 12,198 185,191 122,200 116,236 294,"+ 18,07 %",NaN
4,4°,Comuna 4,215 223,215 046,218 245,230 945,"+ 5,81 %",NaN
5,5°,Comuna 1,200 689,171 985,205 886,223 282,"+ 8,44 %",NaN
6,6°,Comuna 7,198 489,197 333,220 591,216 832,"- 1,70 %",NaN
7,7°,Comuna 8,151 078,161 642,187 237,204 842,"+ 9,40 %",NaN
8,8°,Comuna 6,183 740,170 309,176 076,203 784,"+ 15,73 %",NaN
9,9°,Comuna 11,199 049,189 666,189 832,203 491,"+ 7,19 %",NaN
10,10°,Comuna 15,195 346,183 110,182 574,197 903,"+ 8,39 %",NaN
11,11°,Comuna 3,200 275,184 015,187 537,195 462,"+ 4,22 %",NaN
12,12°,Comuna 5,188 342,173 769,179 005,193 859,"+ 8,29 %",NaN
13,13°,Comuna 10,167 671,163 209,166 022,171 797,"+ 3,47 %",NaN
14,14°,Comuna 9,161 518,155 967,161 797,169 538,"+ 4,78 %",NaN
15,15°,Comuna 2,198 647,165 494,157 932,158 368,"+ 0,27 %",NaN
16,TOTAL,CABA,2 965 403,2 776 138,2 890 151,3 120 612,"+ 7,97 %",NaN

# Utilizamos la extension data wrangler para ordenar el dataset scrappeado

In [7]:

def clean_data(df):
    # Drop column: 'Evolución demográfica e histórica de los habitantes de las Comunas de la Ciudad Autónoma de Buenos Aires (CABA)[1]​.7'
    df = df.drop(columns=['Evolución demográfica e histórica de los habitantes de las Comunas de la Ciudad Autónoma de Buenos Aires (CABA)[1]\u200b.7'])
    # Rename column 'Evolución demográfica e histórica de los habitantes de las Comunas de la Ciudad Autónoma de Buenos Aires (CABA)[1]\u200b' to 'puesto (2022)'
    df = df.rename(columns={'Evolución demográfica e histórica de los habitantes de las Comunas de la Ciudad Autónoma de Buenos Aires (CABA)[1]\u200b': 'puesto (2022)'})
    # Rename column 'Evolución demográfica e histórica de los habitantes de las Comunas de la Ciudad Autónoma de Buenos Aires (CABA)[1]\u200b.1' to 'Comuna'
    df = df.rename(columns={'Evolución demográfica e histórica de los habitantes de las Comunas de la Ciudad Autónoma de Buenos Aires (CABA)[1]\u200b.1': 'Comuna'})
    # Rename column 'Evolución demográfica e histórica de los habitantes de las Comunas de la Ciudad Autónoma de Buenos Aires (CABA)[1]\u200b.2' to 'CENSO 1991'
    df = df.rename(columns={'Evolución demográfica e histórica de los habitantes de las Comunas de la Ciudad Autónoma de Buenos Aires (CABA)[1]\u200b.2': 'CENSO 1991'})
    # Rename column 'Evolución demográfica e histórica de los habitantes de las Comunas de la Ciudad Autónoma de Buenos Aires (CABA)[1]\u200b.3' to 'CENSO 2001'
    df = df.rename(columns={'Evolución demográfica e histórica de los habitantes de las Comunas de la Ciudad Autónoma de Buenos Aires (CABA)[1]\u200b.3': 'CENSO 2001'})
    # Rename column 'Evolución demográfica e histórica de los habitantes de las Comunas de la Ciudad Autónoma de Buenos Aires (CABA)[1]\u200b.4' to 'CENSO 2010'
    df = df.rename(columns={'Evolución demográfica e histórica de los habitantes de las Comunas de la Ciudad Autónoma de Buenos Aires (CABA)[1]\u200b.4': 'CENSO 2010'})
    # Rename column 'Evolución demográfica e histórica de los habitantes de las Comunas de la Ciudad Autónoma de Buenos Aires (CABA)[1]\u200b.5' to 'CENSO 2022'
    df = df.rename(columns={'Evolución demográfica e histórica de los habitantes de las Comunas de la Ciudad Autónoma de Buenos Aires (CABA)[1]\u200b.5': 'CENSO 2022'})
    # Rename column 'Evolución demográfica e histórica de los habitantes de las Comunas de la Ciudad Autónoma de Buenos Aires (CABA)[1]\u200b.6' to 'CRECIMIENTO 2010-2022'
    df = df.rename(columns={'Evolución demográfica e histórica de los habitantes de las Comunas de la Ciudad Autónoma de Buenos Aires (CABA)[1]\u200b.6': 'CRECIMIENTO 2010-2022'})
    # Drop column: 'CENSO 2001'
    df = df.drop(columns=['CENSO 2001'])
    # Drop column: 'CENSO 1991'
    df = df.drop(columns=['CENSO 1991'])
    return df

df = clean_data(df.copy())
df.head()

   puesto (2022)     Comuna  CENSO 2010  CENSO 2022  CRECIMIENTO 2010-2022
0  Puesto (2022)     Comuna  CENSO 2010  CENSO 2022  Crecimiento 2010-2022
1             1°  Comuna 13     231 331     265 199              + 14,64 %
2             2°  Comuna 14     225 970     249 016              + 10,19 %
3             3°  Comuna 12     200 116     236 294              + 18,07 %
4             4°   Comuna 4     218 245     230 945               + 5,81 %

# Calculamos la tasa de crecimiento anual para poder tener datos de 2021 sobre el indice de crecimiento y poblacion total segun el censo realizado en 2022

In [8]:
# Eliminamos la primer fila que contiene el titulo de las columnas
df = df.drop(df.index[0])

# Convertimos la columna 'CENSO 2022' a float
df['CENSO 2022'] = df['CENSO 2022'].str.replace('\xa0', '').astype(float)

# Poblacion total de 2022
censo_2022 = 3120612

# Tasa de crecimiento total entre 2010 y 2022
tasa_crecimiento_total = 7.97 / 100

# Calcular la tasa de crecimiento anual
tasa_crecimiento_anual = (1 + tasa_crecimiento_total) ** (1 / 12) - 1

# Crear una nueva columna con los valores estimados para 2021
df['CENSO 2021'] = df['CENSO 2022'] / (1 + tasa_crecimiento_anual)

In [9]:
df

,puesto (2022),Comuna,CENSO 2010,CENSO 2022,CRECIMIENTO 2010-2022,CENSO 2021
1,1°,Comuna 13,231 331,265199.0,"+ 14,64 %",2.635097e+05
2,2°,Comuna 14,225 970,249016.0,"+ 10,19 %",2.474298e+05
3,3°,Comuna 12,200 116,236294.0,"+ 18,07 %",2.347888e+05
4,4°,Comuna 4,218 245,230945.0,"+ 5,81 %",2.294739e+05
5,5°,Comuna 1,205 886,223282.0,"+ 8,44 %",2.218597e+05
6,6°,Comuna 7,220 591,216832.0,"- 1,70 %",2.154508e+05
7,7°,Comuna 8,187 237,204842.0,"+ 9,40 %",2.035372e+05
8,8°,Comuna 6,176 076,203784.0,"+ 15,73 %",2.024859e+05
9,9°,Comuna 11,189 832,203491.0,"+ 7,19 %",2.021948e+05
10,10°,Comuna 15,182 574,197903.0,"+ 8,39 %",1.966424e+05
11,11°,Comuna 3,187 537,195462.0,"+ 4,22 %",1.942169e+05
12,12°,Comuna 5,179 005,193859.0,"+ 8,29 %",1.926241e+05
13,13°,Comuna 10,166 022,171797.0,"+ 3,47 %",1.707027e+05
14,14°,Comuna 9,161 797,169538.0,"+ 4,78 %",1.684581e+05
15,15°,Comuna 2,157 932,158368.0,"+ 0,27 %",1.573592e+05
16,TOTAL,CABA,2 890 151,3120612.0,"+ 7,97 %",3.100734e+06

## Cambiamos el tipo de dato de la columna nueva "CENSO 2021"

In [10]:

def clean_data(df):
    # Change column type to int64 for column: 'CENSO 2021'
    df = df.astype({'CENSO 2021': 'int64'})
    return df

df = clean_data(df)
df

,puesto (2022),Comuna,CENSO 2010,CENSO 2022,CRECIMIENTO 2010-2022,CENSO 2021
1,1°,Comuna 13,231 331,265199.0,"+ 14,64 %",263509
2,2°,Comuna 14,225 970,249016.0,"+ 10,19 %",247429
3,3°,Comuna 12,200 116,236294.0,"+ 18,07 %",234788
4,4°,Comuna 4,218 245,230945.0,"+ 5,81 %",229473
5,5°,Comuna 1,205 886,223282.0,"+ 8,44 %",221859
6,6°,Comuna 7,220 591,216832.0,"- 1,70 %",215450
7,7°,Comuna 8,187 237,204842.0,"+ 9,40 %",203537
8,8°,Comuna 6,176 076,203784.0,"+ 15,73 %",202485
9,9°,Comuna 11,189 832,203491.0,"+ 7,19 %",202194
10,10°,Comuna 15,182 574,197903.0,"+ 8,39 %",196642
11,11°,Comuna 3,187 537,195462.0,"+ 4,22 %",194216
12,12°,Comuna 5,179 005,193859.0,"+ 8,29 %",192624
13,13°,Comuna 10,166 022,171797.0,"+ 3,47 %",170702
14,14°,Comuna 9,161 797,169538.0,"+ 4,78 %",168458
15,15°,Comuna 2,157 932,158368.0,"+ 0,27 %",157359
16,TOTAL,CABA,2 890 151,3120612.0,"+ 7,97 %",3100734

In [11]:
df['CENSO 2010'].info

<bound method Series.info of 1       231 331
2       225 970
3       200 116
4       218 245
5       205 886
6       220 591
7       187 237
8       176 076
9       189 832
10      182 574
11      187 537
12      179 005
13      166 022
14      161 797
15      157 932
16    2 890 151
Name: CENSO 2010, dtype: object>

# Observamos que ya tenemos el censo y poblacion de comunas de 2021, pero necesitamos los demas años, para ello vamos a realizar un calculo basado en la columna "CRECIMIENTO 2010-2022" el cual nos indica el indice en porcentajes de crecimiento que será el factor clave para el desarrollo exitoso de nuestro codigo

In [12]:


# Datos de población de 2010 y tasas de crecimiento para nuestro calculo 
data = {
    'Comuna': ['Comuna 13', 'Comuna 14', 'Comuna 12', 'Comuna 4', 'Comuna 1', 'Comuna 7', 'Comuna 8', 'Comuna 6', 'Comuna 11', 'Comuna 15', 'Comuna 3', 'Comuna 5', 'Comuna 10', 'Comuna 9', 'Comuna 2'],
    'Poblacion 2010': [231331, 225970, 200116, 218245, 205886, 220591, 187237, 176076, 189832, 182574, 187537, 179005, 166022, 161797, 157932],
    'Crecimiento 2010-2022': [14.64, 10.19, 18.07, 5.81, 8.44, -1.70, 9.40, 15.73, 7.19, 8.39, 4.22, 8.29, 3.47, 4.78, 0.27]
}

df = pd.DataFrame(data)

# Convertir tasas de crecimiento en factores de crecimiento
df['Factor de crecimiento'] = 1 + df['Crecimiento 2010-2022'] / 100

# Calcular población para cada año
for year in range(2016, 2022):
    n = year - 2010
    df[f'Poblacion {year}'] = df['Poblacion 2010'] * df['Factor de crecimiento']**(n/12)

df

,Comuna,Poblacion 2010,Crecimiento 2010-2022,Factor de crecimiento,Poblacion 2016,Poblacion 2017,Poblacion 2018,Poblacion 2019,Poblacion 2020,Poblacion 2021
0,Comuna 13,231331,14.64,1.1464,247686.264822,250522.424102,253391.059141,256292.541807,259227.248224,262195.558826
1,Comuna 14,225970,10.19,1.1019,237203.928356,239129.813827,241071.335779,243028.621166,245001.797975,246990.995229
2,Comuna 12,200116,18.07,1.1807,217446.086117,220476.966723,223550.093374,226666.054919,229825.448413,233028.879235
3,Comuna 4,218245,5.81,1.0581,224495.510321,225554.529496,226618.544413,227687.578638,228761.655849,229840.799836
4,Comuna 1,205886,8.44,1.0844,214398.415091,215850.982427,217313.391029,218785.707572,220267.999184,221760.333447
5,Comuna 7,220591,-1.70,0.9830,218707.939187,218395.662249,218083.831189,217772.445369,217461.504154,217151.006909
6,Comuna 8,187237,9.40,1.0940,195839.519558,197311.218479,198793.976954,200287.878093,201793.005632,203309.443935
7,Comuna 6,176076,15.73,1.1573,189418.825818,191738.931523,194087.455157,196464.744796,198871.152783,201307.035776
8,Comuna 11,189832,7.19,1.0719,196538.011991,197678.489874,198825.585764,199979.338063,201139.785398,202306.966618
9,Comuna 15,182574,8.39,1.0839,190078.737500,191359.182404,192648.252886,193946.007054,195252.503402,196567.800821
10,Comuna 3,187537,4.22,1.0422,191453.142314,192113.737538,192776.612098,193441.773859,194109.230712,194778.990577
11,Comuna 5,179005,8.29,1.0829,186277.044528,187517.455650,188766.126618,190023.112434,191288.468466,192562.250452
12,Comuna 10,166022,3.47,1.0347,168877.917886,169358.657853,169840.766329,170324.247209,170809.104400,171295.341821
13,Comuna 9,161797,4.78,1.0478,165618.810759,166264.498990,166912.704528,167563.437187,168216.706818,168872.523312
14,Comuna 2,157932,0.27,1.0027,158145.064478,158180.603160,158216.149828,158251.704485,158287.267131,158322.837769

In [13]:

def clean_data(df):
    # Cambiamos el tipo de la columna poblacion 2016 y los demas años
    df = df.astype({'Poblacion 2016': 'int64'})
    df = df.astype({'Poblacion 2017': 'int64', 'Poblacion 2018': 'int64', 'Poblacion 2019': 'int64'})
    df = df.astype({'Poblacion 2020': 'int64'})
    df = df.astype({'Poblacion 2021': 'int64'})
    return df

df = clean_data(df.copy())
df.head()

,Comuna,Poblacion 2010,Crecimiento 2010-2022,Factor de crecimiento,Poblacion 2016,Poblacion 2017,Poblacion 2018,Poblacion 2019,Poblacion 2020,Poblacion 2021
0,Comuna 13,231331,14.64,1.1464,247686,250522,253391,256292,259227,262195
1,Comuna 14,225970,10.19,1.1019,237203,239129,241071,243028,245001,246990
2,Comuna 12,200116,18.07,1.1807,217446,220476,223550,226666,229825,233028
3,Comuna 4,218245,5.81,1.0581,224495,225554,226618,227687,228761,229840
4,Comuna 1,205886,8.44,1.0844,214398,215850,217313,218785,220267,221760

In [14]:
df

,Comuna,Poblacion 2010,Crecimiento 2010-2022,Factor de crecimiento,Poblacion 2016,Poblacion 2017,Poblacion 2018,Poblacion 2019,Poblacion 2020,Poblacion 2021
0,Comuna 13,231331,14.64,1.1464,247686,250522,253391,256292,259227,262195
1,Comuna 14,225970,10.19,1.1019,237203,239129,241071,243028,245001,246990
2,Comuna 12,200116,18.07,1.1807,217446,220476,223550,226666,229825,233028
3,Comuna 4,218245,5.81,1.0581,224495,225554,226618,227687,228761,229840
4,Comuna 1,205886,8.44,1.0844,214398,215850,217313,218785,220267,221760
5,Comuna 7,220591,-1.70,0.9830,218707,218395,218083,217772,217461,217151
6,Comuna 8,187237,9.40,1.0940,195839,197311,198793,200287,201793,203309
7,Comuna 6,176076,15.73,1.1573,189418,191738,194087,196464,198871,201307
8,Comuna 11,189832,7.19,1.0719,196538,197678,198825,199979,201139,202306
9,Comuna 15,182574,8.39,1.0839,190078,191359,192648,193946,195252,196567
10,Comuna 3,187537,4.22,1.0422,191453,192113,192776,193441,194109,194778
11,Comuna 5,179005,8.29,1.0829,186277,187517,188766,190023,191288,192562
12,Comuna 10,166022,3.47,1.0347,168877,169358,169840,170324,170809,171295
13,Comuna 9,161797,4.78,1.0478,165618,166264,166912,167563,168216,168872
14,Comuna 2,157932,0.27,1.0027,158145,158180,158216,158251,158287,158322

In [15]:
df = df.drop(columns=['Factor de crecimiento'])

In [17]:
df['Comuna'] = df['Comuna'].str.replace('Comuna', '')

In [18]:
df

,Comuna,Poblacion 2010,Crecimiento 2010-2022,Poblacion 2016,Poblacion 2017,Poblacion 2018,Poblacion 2019,Poblacion 2020,Poblacion 2021
0,13,231331,14.64,247686,250522,253391,256292,259227,262195
1,14,225970,10.19,237203,239129,241071,243028,245001,246990
2,12,200116,18.07,217446,220476,223550,226666,229825,233028
3,4,218245,5.81,224495,225554,226618,227687,228761,229840
4,1,205886,8.44,214398,215850,217313,218785,220267,221760
5,7,220591,-1.70,218707,218395,218083,217772,217461,217151
6,8,187237,9.40,195839,197311,198793,200287,201793,203309
7,6,176076,15.73,189418,191738,194087,196464,198871,201307
8,11,189832,7.19,196538,197678,198825,199979,201139,202306
9,15,182574,8.39,190078,191359,192648,193946,195252,196567
10,3,187537,4.22,191453,192113,192776,193441,194109,194778
11,5,179005,8.29,186277,187517,188766,190023,191288,192562
12,10,166022,3.47,168877,169358,169840,170324,170809,171295
13,9,161797,4.78,165618,166264,166912,167563,168216,168872
14,2,157932,0.27,158145,158180,158216,158251,158287,158322

In [19]:
def clean_data(df):
    # Cambiamos el tipo de comuna
    df = df.astype({'Comuna': 'int64'})
    return df

df = clean_data(df.copy())
df.head()

,Comuna,Poblacion 2010,Crecimiento 2010-2022,Poblacion 2016,Poblacion 2017,Poblacion 2018,Poblacion 2019,Poblacion 2020,Poblacion 2021
0,13,231331,14.64,247686,250522,253391,256292,259227,262195
1,14,225970,10.19,237203,239129,241071,243028,245001,246990
2,12,200116,18.07,217446,220476,223550,226666,229825,233028
3,4,218245,5.81,224495,225554,226618,227687,228761,229840
4,1,205886,8.44,214398,215850,217313,218785,220267,221760

In [20]:
df= df.to_csv('poblacionCABA.csv')